In [8]:
#1. Write a Python program to print your personal details on the output screen.

print('''
Name : Geetai P. Charde
City : Amravati
Branch : Electronics and Telecommunication
College : Vishavakarma Institute of Technology, Pune
SGPA : 8.12
Diploma: 92.88%
Technical Skills : C, C++, Basic of java, Basic of Linux, Python Bsics, R basics , assembly level language 
SSC : 89.60%''')

Name : Geetai P. Charde
City : Amravati
Branch : Electronics and Telecommunication
College : Vishavakarma Institute of Technology, Pune
SGPA : 8.12
Diploma: 92.88%
Technical Skills : C, C++, Basic of java, Basic of Linux, Python Bsics, R basics , assembly level language
SSC : 89.60%

In [2]:
#2. Write a Program to accept two numbers and display their sum.
a = int(input("Enter no1 : "))
b = int(input("Enter no2 : "))
print("Addition is : ", a+b)

Enter no1 : 2
Enter no2 : 3
Addition is :  5

In [3]:
#3.Write a Program to accept side of square and calculate area and perimeter of Square

a=int(input("Enter side of square : "))
print("Area of square : ", a*a)
print("Perimeter of square : ", 4*a)

Enter side of square : 2
Area of square :  4
Perimeter of square :  8

In [7]:
#4. Write a Program to accept radius of circle and calculate area and circumference of Circle

a=float(input("Enter radius of circle : "))
print("Area of Circle : ", 3.14*a*a)
print("Perimeter of circle :", 2*3.14*a)

Enter radius of circle : 2.1
Area of Circle :  13.8474
Perimeter of circle : 13.188

In [8]:
#5. Write a Program to calculate simple interest. Note: accept required information from user.

P=float(input("Enter Principal amount :"))
R=float(input("Enter Rate of Interest :"))
T=int(input("Enter Time Period : "))
print("Simple Interest is : ", P*R*T/100)

Enter Principal amount :100
Enter Rate of Interest :2
Enter Time Period : 10
Simple Interest is :  20.0

In [12]:
#6. Write a Program to accept 3 numbers and display smallest and largest number

a = float(input("Enter no1 : "))
b = float(input("Enter no2 : "))
c = float(input("Enter no3 : "))
if (a>b) and  (a>c):
     print("largest no. is : ", a)
elif (b>a) and (b>c):
    print("largest no. is : ", b)
else:
    print("largest no. is : ", c)
    
if (a<b) and  (a<c):
     print("smallest no. is : ", a)
elif (b<a) and (b<c):
    print("smallest no. is : ", b)
else:
    print("smallest no. is : ", c)

Enter no1 : 10.5
Enter no2 : 10.8
Enter no3 : 10.2
largest no. is :  10.8
smallest no. is :  10.2

In [12]:
#7. WAP to accept two numbers, and one of the following operators +, -, *, /. Perform the given operation and display result

a = int(input("Enter value for a : "))
b = int(input("Enter value for b : "))
print("a+b :",a+b)
print("a-b :",a-b)
print("a*b :",a*b)
print("a/b :",a/b)

Enter value for a : 4
Enter value for b : 2
a+b : 6
a-b : 2
a*b : 8
a/b : 2.0

In [1]:
#8. Write a Program to accept a number and decide whether it is an odd or even number
a = float(input("Enter a number : "))
if (a%2 == 0):
    print("Number is even")
else:
    print ("Number is odd")

Enter a number : 2
Number is even

In [1]:
#9. Write a Python program to get the Python version you are using.
import sys
print(sys.version)

3.8.8 (default, Apr 13 2021, 15:08:03) [MSC v.1916 64 bit (AMD64)]

In [13]:
#10.Write a Python program to display the examination schedule. (extract the date from exam_st_date)
# exam_st_date = (11, 12, 2018)
# Sample Output : The examination will start from : 11 / 12 / 2018

exam_st_date = (11, 12, 2018)
print("The examination will start from : %i / %i/ %i " %(exam_st_date))

The examination will start from : 11 / 12/ 2018

In [38]:
#11. Write a Python program to check weather user inputted number is palindrome or not.

no = int(input("Enter 3 digit number :"))
rev = 0
rem = 0
org = no 

while(no>0):
    rem = no % 10
    rev = rev *10 + rem
    no = no // 10
    
print("Orginal of no. :",org)
print("Reverse of no. :",rev)

if (org == rev):
    print("{} is palindrome".format(org))
else:
    print("{} is not palindrome".format(org))

Enter 3 digit number :368
Orginal of no. : 368
Reverse of no. : 863
368 is not palindrome

In [32]:
#12. Write a Python program to check weather user inputted number is prime or not.
a = int(input("Enter a number : "))
st = 2
end = a//2
status = 0
for x in range(st,end+1):
    if(a % x == 0):
        status = 1
        break
        
if(status == 1):
    print("{} is Not prime".format(a))
else:
    print("{} is prime".format(a))

Enter a number : 3886152
3886152 is Not prime

In [41]:
#13. Write a Python program to check weather user inputted number is Armstrong or not.

no = int(input("Enter 3 digit number :"))
rev = 0
rem = 0
org = no 

while(no>0):
    rem = no % 10
    rev = rev + rem ** 3
    no = no // 10
    
print("Orginal of no. :",org)

if (org == rev):
    print("{} is Armstrong".format(org))
else:
    print("{} is not Armstrong".format(org))

Enter 3 digit number :153
Orginal of no. : 153
153 is Armstrong

In [31]:
#14. Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000
#and 3200 (both included).

for x in range(2000,3200):
    if(x%7==0) and (x%5)!=0:
        print(x,end = "  ")

2002  2009  2016  2023  2037  2044  2051  2058  2072  2079  2086  2093  2107  2114  2121  2128  2142  2149  2156  2163  2177  2184  2191  2198  2212  2219  2226  2233  2247  2254  2261  2268  2282  2289  2296  2303  2317  2324  2331  2338  2352  2359  2366  2373  2387  2394  2401  2408  2422  2429  2436  2443  2457  2464  2471  2478  2492  2499  2506  2513  2527  2534  2541  2548  2562  2569  2576  2583  2597  2604  2611  2618  2632  2639  2646  2653  2667  2674  2681  2688  2702  2709  2716  2723  2737  2744  2751  2758  2772  2779  2786  2793  2807  2814  2821  2828  2842  2849  2856  2863  2877  2884  2891  2898  2912  2919  2926  2933  2947  2954  2961  2968  2982  2989  2996  3003  3017  3024  3031  3038  3052  3059  3066  3073  3087  3094  3101  3108  3122  3129  3136  3143  3157  3164  3171  3178  3192  3199

In [27]:
#15. Write a program, which can compute the factorial of a given numbers.

a = int(input("Enter a number : "))
fact = 1
while(a>0):
    fact = fact*a
    a = a-1
print("factorial of a given number is :",fact)

Enter a number : 5
factorial of a given number is : 120

In [59]:
#16. Write a Python program to test whether a passed letter is a vowel or not

b=input("Enter a letter: ")
if b=='a' or b=='e' or b=='i' or b=='o' or b=='u':
    print("\nIt is a Vowel")
elif b=='A' or b=='E' or b=='I' or b=='O' or b=='U':
    print("\nIt is a Vowel")
else:
    print("\nIt is not Vowel")

Enter a letter: j

It is not Vowel

In [1]:
#16 OR

b=input("Enter a letter: ")
if b in 'aeiouAEIOU':
    print("Entered letter {} is vowel".format(b))
else:
    print("Entered letter {} is not vowel".format(b))

Enter a letter: u
Entered letter u is vowel

In [53]:
#17. Modify above program to accept name and number. Display name for given number of times
a = input("Enter a name :")
b = int(input("Enter number of times you want to print :"))
i = 1
while (i<=b):
    print(a, end = " ")
    i = i+1

Enter a name :Geetai
Enter number of times you want to print :5
Geetai Geetai Geetai Geetai Geetai

In [57]:
#17.OR
a = input("Enter a name :")
b = int(input("Enter number of times you want to print :"))
print(a*b)

Enter a name :Geetai
Enter number of times you want to print :5
Geetai Geetai Geetai Geetai Geetai

In [65]:
#18. Write an Program to accept two numbers from user and display all numbers between those numbers
#Example: If user enters 3 and 9 program should display numbers 3,4,5,6,7,8 and 9

a = int(input("Enter start of number "))
b = int(input("Enter end of number "))
for x in range(a,b+1):
    print(x, end=" ")

Enter start of number 4
Enter end of number 7
4 5 6 7

In [ ]:
#19. Write a Program to display following pattern
1
22
333
4444
55555
666666
7777777
88888888
999999999

In [71]:
for x in range(1,10):
    for y in range (1,x+1):
        print(x, end="")
    print()

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [72]:
#20. Modify above program to accept a number (between 1 to 9) from user and display above pattern accordingly

a = int(input("Enter start of number "))
b = int(input("Enter end of number "))

for x in range(a,b+1):
    for y in range (1,x+1):
        print(x, end="")
    print()

Enter start of number 3
Enter end of number 6
333
4444
55555
666666

In [ ]:
#21. Write an Program to display following pattern
111111111
22222222
3333333
444444
55555
6666
777
88
9

In [77]:
for x in range(1,10):
    for y in range (9,x-1,-1):
        print(x, end="")
    print()

111111111
22222222
3333333
444444
55555
6666
777
88
9

In [ ]:
#22.Write a Program to display following pattern
*********
********
*******
******
****
***
**
*

In [78]:
for x in range(1,10):
    for y in range (9,x-1,-1):
        print("*", end="")
    print()

*********
********
*******
******
*****
****
***
**
*

In [ ]:
#23. Write a Program to display following pattern
Note: There are nine * in last line
    *
   ***
  *****
 *******
*********

In [2]:
a = 1
for x in range(5,0,-1):
    for y in range (x,0,-1):
        print(" ", end="")
    print("*" * a)
    a += 2;

     *
    ***
   *****
  *******
 *********

In [ ]:
#24. Write a Program to display following pattern
*
**
***
****
*****
******
*******
********
*********

In [79]:
for x in range(1,10):
    for y in range (1,x+1):
        print("*", end="")
    print()

*
**
***
****
*****
******
*******
********
*********

In [ ]:
#25. Write an Program to display following pattern
111111111
22222222
3333333
444444
55555
6666
777
88
9
88
777
6666
55555
444444
3333333
22222222
111111111

In [8]:
a=0
for x in range(1,10):
    for y in range (9,x-1,-1):
        print(x, end="")
        a=x
    print()

for x in range(a-1,0,-1):
    for y in range (0,10-x,1):
        print(x, end="")
    print()

111111111
22222222
3333333
444444
55555
6666
777
88
9
88
777
6666
55555
444444
3333333
22222222
111111111

In [7]:
#26. Write a Program to display numbers 10 to 1 in reverse order.
#Note: Output should be 10, 9, 8, 7, ….., 2, 1

for x in range(10,0,-1):
    if x != 1:
        print(x,"\b, ",end='')
    else:
        print(x)

10 , 9 , 8 , 7 , 6 , 5 , 4 , 3 , 2 , 1

In [ ]:
#27. Write a Program to accept number and display its table.
Note: If user enters 7 output should be as follows
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
------------
7 X 10 = 70

In [9]:
for x in range(1,11):
    print("7 X {} = {}".format(x,x*7))

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70

In [ ]:
#28. Write a Python program to print the following string in a specific format (see the output).
Sample String= "Twinkle, twinkle, little star, How I wonder what you are! Up above the world so high, Like a
diamond in the sky. Twinkle, twinkle, little star, How I wonder what you are!"
Output:
Twinkle, twinkle, little star,
    How I wonder what you are!
Up above the world so high,
        Like a diamond in the sky.
Twinkle, twinkle, little star,
    How I wonder what you are!

In [1]:
string="Twinkle, twinkle, little star,\n\t How I wonder what you are! \n Up above the world so high, \n\t\t Like a diamond in the sky. \n Twinkle, twinkle, little star,\n\t How I wonder what you are!"
print(string)

Twinkle, twinkle, little star,
	 How I wonder what you are!
 Up above the world so high,
		 Like a diamond in the sky.
 Twinkle, twinkle, little star,
	 How I wonder what you are!

In [26]:
#29. Write a Program to display 10 numbers that are divisible by 5 and 7
for i in range(1,11):
    print(5*7*i,end=" ")

35 70 105 140 175 210 245 280 315 350

In [3]:
#29. 0r

counter = 1
for x in range (1,500):
    if(x%5==0 and x%7==0):
        print (x,end=' ')
        
        counter = counter +1
        if (counter==10):
            break

35 70 105 140 175 210 245 280 315

In [8]:
#30. Write a program to calculate time reached to given destination. Accept following details from the user
#a. Name of destination
#b. Distance to destination
#c. Speed per Kilometre
#d. No of breaks in journey
#e. Time per break

a = input("Name of the destination : ")
b = float(input("Distance to destination (Km) : "))
c = int(input("Speed per Kilometre (Km/hr) : "))
d = int(input("Numbers of break in journey : "))
e = int(input("Time per break (hrs) : "))
time = (b/c)+(d*e)
print("time required to reached to given destination is(hrs.) :",time)

Name of the destination : Amravati
Distance to destination (Km) : 4
Speed per Kilometre (Km/hr) : 4
Numbers of break in journey : 2
Time per break (hrs) : 1
time required to reached to given destination is(hrs.) : 3.0

In [ ]:
#31. Take a list, say for example this one:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
and write a program that prints out all the elements of the list that are less than 5.
Extras:
a. Instead of printing the elements one by one, make a new list that has all the elements less than 5 from this list
in it and print out this new list.
b. Write this in one line of Python.
c. Ask the user for a number and return a list that contains only elements from the original list a that are smaller
than that number given by the user.

In [36]:
#a. Instead of printing the elements one by one, make a new list that has all the elements less than 5 from this list
#in it and print out this new list.

a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
lst = []
for x in (a):
    if (x<5):
        lst.append(x)
print(lst)

[1, 1, 2, 3]

In [37]:
#b. Write this in one line of Python.

a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
print([x for x in a if (x<5)])

[1, 1, 2, 3]

In [39]:
#c. Ask the user for a number and return a list that contains only elements from the original list a that are smaller
#than that number given by the user.

a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
print(a)
b = int(input("Enter number from list : "))
lst = []
for x in (a):
    if (x<b):
        lst.append(x)
print(lst)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
Enter number from list : 13
[1, 1, 2, 3, 5, 8]

In [1]:
#32. Ask the user for a string and print out whether this string is a palindrome or not. (A palindrome is a string that reads the same forwards and backwards.)

s1 = input("Enter a String : ")
if(s1 == s1[::-1]):
    print("Palindrom")
else:
    print("Not Palidrom")

Enter a String : anana
Pali
 ndrom

In [17]:
#33. Ask user to enter 10 elements in the list and find minimum and maximum of from the list
lst = []
for x in range(10):
    no = int(input("Enter numbers : "))
    lst.append(no)
print("\nEntered list is : ",lst)

print("\nMaximum number from list is :", max(lst))
print("Minimun number from list is :", min(lst))

Enter numbers : 16
Enter numbers : 15
Enter numbers : 89
Enter numbers : 65
Enter numbers : 78
Enter numbers : 25
Enter numbers : 56
Enter numbers : 32
Enter numbers : 89
Enter numbers : 78

Entered list is :  [16, 15, 89, 65, 78, 25, 56, 32, 89, 78]

Maximum number from list is : 89
Minimun number from list is : 15

In [ ]:
#34.Write a program to replace minimum element from the list by
“maximum element+1” and display the result.
For Eg :
Input : l=[22,56,365,989,356]
Output : l=[22,990,365,989,356]

In [56]:
l = [22,56,365,989,356]
print(l)
print("Minimum : ",min(l))
min_id = l.index(min(l))
l[min_id] = max(l)+1
print("updated list is : ",l)

[22, 56, 365, 989, 356]
Minimum :  22
updated list is :  [990, 56, 365, 989, 356]

In [44]:
#35.Ask user to enter 10 elements in the list and find even and odd from the list.
lst = []
for x in range(10):
    no = int(input("Enter numbers : "))
    lst.append(no)
print("\nEntered list is : ",lst)

a = []
b = []
for x in lst:
    if(x%2!=0):
        a.append(x)
print("Odd numbers from list",a)
for x in lst:
    if(x%2==0):
        b.append(x)
print("Even numbers from list",b)

Enter numbers : 1
Enter numbers : 2
Enter numbers : 3
Enter numbers : 4
Enter numbers : 5
Enter numbers : 6
Enter numbers : 7
Enter numbers : 8
Enter numbers : 9
Enter numbers : 10

Entered list is :  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Odd numbers from list [1, 3, 5, 7, 9]
Even numbers from list [2, 4, 6, 8, 10]

In [3]:
#36.Ask user to enter 10 elements in the list and find prime number from the list.

lst = []
for x in range (10):
    no = int(input("Enter number : "))
    lst.append(no)
print("\nEntered list is : ",lst)
print("Prime number from list is : ")
for i in range (len(lst)):
    if (lst[i]>1):
        flag = 0
        for j in range (2,lst[i]//2,1):
            if(lst[i]%j==0):
                flag = 1
                break 
    if (flag == 0):
        print(lst[i],end = " ")

Enter number : 5
Enter number : 6
Enter number : 7
Enter number : 21
Enter number : 23
Enter number : 53
Enter number : 71
Enter number : 17
Enter number : 6
Enter number : 8

Entered list is :  [5, 6, 7, 21, 23, 53, 71, 17, 6, 8]
Prime number from list is :
5 7 23 53 71 17

In [1]:
# 37.Ask user to enter 10 elements in the list and find all Armstrong numbers from the list.

lst = []
for x in range (10):
    no = int(input("Enter number : "))
    lst.append(no)
print("\nEntered list is : ",lst)
print()

print ("Armstrong numbers from the list are : ")
for i in range (len(lst)):
    rem = 0
    rev = 0
    temp = lst[i]
    while(lst[i]>0):
        rem = lst[i] % 10
        rev = rev + rem ** 3
        lst[i] //= 10
        
    if (rev==temp):
        print(temp)

Enter number : 123
Enter number : 153
Enter number : 486
Enter number : 759
Enter number : 426
Enter number : 343
Enter number : 568
Enter number : 235
Enter number : 789
Enter number : 654

Entered list is :  [123, 153, 486, 759, 426, 343, 568, 235, 789, 654]

Armstrong numbers from the list are :
153

In [1]:
#38.Write a program to create 3 list and restrict the user to insert only prime number in first_list, only palindrome number
#in second_list, only Armstrong number in third_list.
prime = []
for x in range (5):
    ele = int(input("enter the element :"))
    flag = 0
    for h in range (2,ele//2,1):
        if(ele % h == 0):
            flag = 1
            break
    if (flag == 0):
         prime.append(ele)
            
print ("First list is : ")
print(prime)
print()

palindrome = []
for x in range (5):
    ele = ele = int(input("enter the element :"))
    rem = 0
    rev = 0
    temp = ele
    while (temp>0):
        rem = temp % 10
        rev = rev * 10 + rem
        temp//=10
        
    if (rev==ele):
        palindrome.append(ele)
        
print ("Second list is : ")
print(palindrome)
print()


armstrong = []
for x in range (5):
    ele = ele = int(input("enter the element :"))
    rem = 0
    rev = 0
    temp = ele
    while(temp>0):
        rem = temp % 10
        rev = rev + rem ** 3
        temp //= 10
        
    if(rev==ele):
        armstrong.append(ele) 
        
print ("Third list is : ")
print (armstrong)

enter the element :1
enter the element :2
enter the element :3
enter the element :4
enter the element :5
First list is :
[1, 2, 3, 4, 5]

enter the element :153
enter the element :121
enter the element :343
enter the element :789
enter the element :456
Second list is :
[121, 343]

enter the element :153
enter the element :121
enter the element :343
enter the element :897
enter the element :456
Third list is :
[153]

In [ ]:
#39.With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral
number between 1 and n (both included). and then the program should print the dictionary.
Suppose the following input is supplied to the program:
8
Then, the output should be:
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [6]:
n=int(input("enter number of element in dict : "))
D_new={}
for x in range(1,n+1):
    D_new[x] = x*x
    # D_new[x] = x**2
print(D_new)

enter number of element in dict : 8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [ ]:
#40.Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple
which contains every number.
Suppose the following input is supplied to the program:
34,67,55,33,12,98
Then, the output should be:
['34', '67', '55', '33', '12', '98']
('34', '67', '55', '33', '12', '98')

In [4]:
values =(input("Enter sequence of number seperated by comma(,) : "))
list = values.split(",")
tuple = tuple(list)
print('List : ',list)
print('Tuple : ',tuple)

Enter sequence of number seperated by comma(,) : 34,67,55,33,12,98
List :  ['34', '67', '55', '33', '12', '98']
Tuple :  ('34', '67', '55', '33', '12', '98')

In [ ]:
lst = []
for x in range (6):
    no=input("Enter no :")
    lst.append(no)

print(lst)
print

In [3]:
#41.Write a Program to accept a number between 1 to 12 and display corresponding month.

d = {1:"January",2:"February",3:"March",4:"April",5:"May",6:"June",7:"July",8:"August",9:"September",10:"October",11:"november",12:"December"}
a = int(input("Enter number between 1-12 : "))
print(d[a])

Enter number between 1-12 : 12
December

In [ ]:
#42.Write a program to display minimum denominations for a given value.
Note: Consider denominations of 500, 100, 50, 20, 10, 5, 2, 1
Example: 1488 = (500 * 2) + (100 * 4) + (50 * 1) + (20 * 1) + (10 * 1) + (5 * 1) + (2 * 1) + (1 * 1)

In [ ]:
no = 1488
c500 = c100 = c50 = c20 = c10 = c5 = c2 = c1 = 0

In [1]:
#43. Write a program to accept two numbers from user and display all numbers between those numbers
#Example: If user enters 3 and 9 program should display numbers 3,4,5,6,7,8 and 9

a = int(input("Enter start number : "))
b = int(input("Enter end number : "))
for i in range (a,b+1):
    print (i, end = " ")

Enter start number : 0
Enter end number : 10
0 1 2 3 4 5 6 7 8 9 10

In [14]:
#44. Modify above program to accept two numbers and display table of numbers between them.
#Note: If user enters 3 and 7. Display table of 4,5 and 6
 
a = int(input("Enter start number : "))
b = int(input("Enter end number : "))

for i in range (a+1,b):
    for x in range (1,11):
        t = i*x
        print("{} X {} = {} ".format(i,x,t))
    print()

Enter start number : 3
Enter end number : 7
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60

In [47]:
#45. Write a program to display 10 numbers that are divisible by 5 and 7

for i in range(1,11):
    print(5*7*i,end=" ")

35 70 105 140 175 210 245 280 315 350

In [8]:
#46. Modify above Program to accept two numbers from user and display all numbers between them that are divisible by 3
a = int(input("Enter 1st number : "))
b = int(input("Enter 2nd number : "))
lst = []
for x in range (a,b+1):
    if (x%3==0):
        lst.append(x)
print("All numbers divisible by 3 are : ",lst)

Enter 1st number : 1
Enter 2nd number : 20
All numbers divisible by 3 are :  [3, 6, 9, 12, 15, 18]

In [6]:
#47. Write a program to accept 10 numbers and display in ascending and descending order. Also display the same
#numbers in descending order.
lst = []
for a in range(10):
    a = int(input("Enter number : "))
    lst.append(a)
print("Entered numbers are : ",lst)
lst.sort(reverse=False)
print("Ascending order is : ",lst)
print("Decending order is :", lst[::-1])

Enter number : 78
Enter number : 45
Enter number : 12
Enter number : 89
Enter number : 56
Enter number : 23
Enter number : 79
Enter number : 46
Enter number : 13
Enter number : 37
Entered numbers are :  [78, 45, 12, 89, 56, 23, 79, 46, 13, 37]
Ascending order is :  [12, 13, 23, 37, 45, 46, 56, 78, 79, 89]
Decending order is : [89, 79, 78, 56, 46, 45, 37, 23, 13, 12]

In [14]:
#48. Write a Program to accept string from user and a single character. Display how many times given character occurs in a
#given string

s1 = input("Enter string : ")
a = input("Enter single character : ")
count = 0
for x in s1:
    if (x==a):
        count = count + 1
print("Total occurance of entered character in string is : ", count)

Enter string : Geetai
Enter single character : e
Total occurance of entered character in string is :  2

In [46]:
#49. Write a Program to accept a string and display whether it is a Palindrome.

s1 = input("Enter a String : ")
if(s1 == s1[::-1]):
    print("Palindrom")
else:
    print("Not Palidrom")

Enter a String : civic
Palindrom

In [2]:
#50. Write a Program to accept number between 0 to 20 and display in words
#Example: If user enters 8 output should be “Eight”

a = int(input("Enter number between 0 to 20 : "))
d = {1:"One",2:"Two",3:"Three",4:"Four",5:"Five",6:"Six",7:"Seven",8:"Eight",9:"Nine",10:"Ten",11:"Eleven",12:"Twelve",13:"Thirteen",14:"Fourteen",15:"Fifteen",16:"Sixteen",17:"Seventeen",18:"Eighteen",19:"Ninteen",20:"Twenty"}
print(d[a])

Enter number between 0 to 20 : 5
Five